.body_background 
{
    background-image: url("Scenery.webp");
    background-position: center;
    background-size: cover;
}
	.login_div1 , .login_div2
	{
		background: rgb(211, 86, 86);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player , #player2
{
	display: inline-block;
	margin-left: 20px;
}
